
    <%- include('partials/header.html') %>

   

    <section class="outras-noticias">
        <div class="title-outras-noticia">
            <h2>Busca:</h2>
            <br><br>
            <div class="center">
                
                <div style="width:100%;" class="mais-lidas">
                    <h3>33 resultados</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/3.jpg" />
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/3.jpg" />
                            <div class="texto-mais-lida-single">
                                <h4>Lorem ipsum</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, expedita sed placeat nisi, similique officiis alias facere quae, animi quia itaque deserunt labore eum voluptatibus porro voluptatum ea doloribus architecto.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/3.jpg" />
                            <div class="texto-mais-lida-single">
                                <h4>Lorem ipsum</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui delectus dolorem dicta atque blanditiis culpa, id non tempora ad, nihil quod. Inventore omnis rerum dicta, reiciendis doloremque magnam vel totam!</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/3.jpg" />
                            <div class="texto-mais-lida-single">
                                <h4>Lorem ipsum</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ipsa aliquid natus, exercitationem itaque est hic corrupti maxime explicabo voluptas sequi a iste nobis ipsum sapiente quisquam. Praesentium, fuga. Voluptates.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.html') %>

</body>
</html>