
    <%- include('partials/header.html') %>

        <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="title-destaque-descricao">
                        <!--feito em off o link aqui e adicionado nos estilos-->
                        <a href="/noticia"><h2>Lorem ipsum</h2></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sequi esse temporibus nisi eaque, quaerat nostrum repudiandae natus cupiditate veritatis libero quam expedita! Error dolore voluptatem in. Nulla, sed eligendi.</p>
                    </div>
                    <img src="/public/images/2.jpg" />
                </div>
            </div>
        </section>

        <section class="outras-noticias">
            <div class="title-outras-noticia">
                <h2>Últimas Notícias</h2>
                <br><br>
                <div class="center">
                    <div class="ultimas">
                        <div class="box-ultima-single">
                            <img src="/public/images/2.jpg" />
                            <div class="conteudo-noticia-single">
                            <h3>Lorem ipsum</h3>
                            <h2>Lorem ipsum</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fugit, similique hic expedita necessitatibus temporibus tenetur alias omnis dolorum voluptates quaerat veritatis minima incidunt labore quis veniam iste perferendis tempore!</p>
                            <a href="/maislidas">Saiba mais</a>
                        </div>
                        </div>
                        <div class="box-ultima-single">
                            <img src="/public/images/3.jpg" />
                            <div class="conteudo-noticia-single">
                            <h3>Lorem ipsum</h3>
                            <h2>Lorem ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ut nostrum provident? Ad culpa deserunt nam reiciendis? Earum magni ullam reiciendis labore quibusdam, minus quo quisquam nam at? Mollitia, voluptas?</p>
                            <a href="/maislidas">Saiba mais</a>
                        </div>
                        </div>
                    </div>
                    <div class="mais-lidas">
                        <h3>Mais Lidas</h3>
                        <div class="mais-lidas-noticias">
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/1.jpg" />
                                <div class="texto-mais-lida-single">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et natus autem eius consectetur repellendus, adipisci corporis doloremque? Harum labore laboriosam, odio nihil rerum optio magni. Ea consequatur quasi asperiores? Corrupti!</p>
                                    <a href="/maislidas">Saiba mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/1.jpg" />
                                <div class="texto-mais-lida-single">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et natus autem eius consectetur repellendus, adipisci corporis doloremque? Harum labore laboriosam, odio nihil rerum optio magni. Ea consequatur quasi asperiores? Corrupti!</p>
                                    <a href="/maislidas">Saiba mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/1.jpg" />
                                <div class="texto-mais-lida-single">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et natus autem eius consectetur repellendus, adipisci corporis doloremque? Harum labore laboriosam, odio nihil rerum optio magni. Ea consequatur quasi asperiores? Corrupti!</p>
                                    <a href="/maislidas">Saiba mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/1.jpg" />
                                <div class="texto-mais-lida-single">
                                    <h4>Lorem Ipsum</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et natus autem eius consectetur repellendus, adipisci corporis doloremque? Harum labore laboriosam, odio nihil rerum optio magni. Ea consequatur quasi asperiores? Corrupti!</p>
                                    <a href="/maislidas">Saiba mais</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer.html') %>

    </body>
</html>