<%- include('partials/header.html') %>


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2>7 dicas para se tornar um "Shred Guitar Player" em 2023</h2>
            <div class="autor-nome">
                <span> Por Jadilson Filho </span>
            </div>
            
            
              <p>TESTE</p>
              <H3>TESTE</H3>
              <P>TESTE</P>
            

        </div>
        <div class="mais-lidas">

            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/1.jpg" />
                    <div class="texto-mais-lida-single">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in omnis deserunt, eius adipisci ea. Magni omnis nisi autem aut maiores! Facilis, consequuntur assumenda. Voluptatum, perferendis quaerat? Neque, alias quasi.</p>
                        <a href="/maislidas">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/1.jpg" />
                    <div class="texto-mais-lida-single">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in omnis deserunt, eius adipisci ea. Magni omnis nisi autem aut maiores! Facilis, consequuntur assumenda. Voluptatum, perferendis quaerat? Neque, alias quasi.</p>
                        <a href="/maislidas">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/1.jpg" />
                    <div class="texto-mais-lida-single">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in omnis deserunt, eius adipisci ea. Magni omnis nisi autem aut maiores! Facilis, consequuntur assumenda. Voluptatum, perferendis quaerat? Neque, alias quasi.</p>
                        <a href="/maislidas">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/1.jpg" />
                    <div class="texto-mais-lida-single">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in omnis deserunt, eius adipisci ea. Magni omnis nisi autem aut maiores! Facilis, consequuntur assumenda. Voluptatum, perferendis quaerat? Neque, alias quasi.</p>
                        <a href="/maislidas">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.html') %>

</body>
</html>