<%- include('partials/header.html') %>


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2>Lorem ipsum</h2>
            <div class="autor-nome">
                <span> Por Jadilson Filho </span>
                <img class="jf" src="../public/images/4.jpg"/>
                
            </div>
            
            
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id architecto voluptate illo repellat explicabo beatae aspernatur hic, itaque possimus iure, sequi voluptatem. Eligendi dolor saepe fuga velit voluptatum. Ab, sed.</p>
              <H3>Lorem ipsum</H3>
              <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nihil ipsum necessitatibus asperiores, architecto adipisci nesciunt, nam in, ab recusandae omnis ipsam eligendi placeat obcaecati culpa ad nulla! Fugit, perferendis?</P>
            

        </div>
        <div class="mais-lidas">

            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/1.jpg" />
                    <div class="texto-mais-lida-single">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in omnis deserunt, eius adipisci ea. Magni omnis nisi autem aut maiores! Facilis, consequuntur assumenda. Voluptatum, perferendis quaerat? Neque, alias quasi.</p>
                        <a href="/maislidas">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/1.jpg" />
                    <div class="texto-mais-lida-single">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in omnis deserunt, eius adipisci ea. Magni omnis nisi autem aut maiores! Facilis, consequuntur assumenda. Voluptatum, perferendis quaerat? Neque, alias quasi.</p>
                        <a href="/maislidas">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/1.jpg" />
                    <div class="texto-mais-lida-single">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in omnis deserunt, eius adipisci ea. Magni omnis nisi autem aut maiores! Facilis, consequuntur assumenda. Voluptatum, perferendis quaerat? Neque, alias quasi.</p>
                        <a href="/maislidas">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticia-single">
                    <img src="/public/images/1.jpg" />
                    <div class="texto-mais-lida-single">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in omnis deserunt, eius adipisci ea. Magni omnis nisi autem aut maiores! Facilis, consequuntur assumenda. Voluptatum, perferendis quaerat? Neque, alias quasi.</p>
                        <a href="/maislidas">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.html') %>

</body>
</html>